@import '@lec/styles/src/scss/global.scss';

.lec-button {
	padding: 10px 5px;
  border: none;
  border-radius: 4px;

  &:hover {
    background-color: $color-quaternary;
  }
}

.btn-primary {
	background-color: $color-quinary;
}
.btn-destructive {
}
.btn-outline {
}
.btn-link {
}
.btn-icon {
}
.btn-with-icon {
}
.button-loading {
}
