.header {
  background-color: #333;
  height: 88px;
  width: 100%;
  top: 0;
  left: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  height: 100%;
  margin-top: 20px;

  .index-nav {
    width: 180px;
    position: sticky;
    top: 80px;
    margin-right: 20px;
    height: fit-content;
    border-radius: 4px;
    background-color: #fff;
    max-height: calc(100vh - 101px);
    overflow-x: hidden;
    .side-navigation-wrap {
      min-width:  180px;
      padding: 8px;

      .nav-item-wrap {
        display: flex;
        flex-direction: column;

        .nav-item-content {
          line-height: 24px;
          border-radius: 4px;
          cursor: pointer;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;

          &:hover {
            background-color: hsla(0,0%,100%,0.08);
            color: #1e80ff;
          }

          .nav-item {
            display: inline-block;
            width: 100%;
            padding: 10px 17px;
            color: #515767;

            &:hover {
              color: #1e80ff;
            }
          }
        }
      }
    }
  }

  .content {
    flex: 1;
    min-width: 888px;
    background-color: rgba(43, 23, 123, .3);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: white;
  }
}