.nav {
  display: flex;
  flex-direction: column;
  gap: 2px;

  .nav-item {
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;

    &.active {
      background-color: rgba(aquamarine, 0.5);
    }

    &:hover {
      background-color: rgba(aquamarine, 0.3);
    }
  }
}