.home {
  display: flex;
  height: 200vh;
  padding: 20px 10% 0 10%;
  gap: 10px;
  background-color: #f2f3f5;

  .l-sidebar {
    width: 100px;
    height: 300px;
    padding: 4px;
    position: sticky;
    top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .content {
    background-color: #fff;
    flex: 1;
    padding: 10px 20px;
  }

  .r-sidebar {
    width: 100px;
    height: 700px;
    position: sticky;
    top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
}