// 页面切换过渡动画 --- 进入
.page {
	position: absolute;
}
.page-enter {
	position: absolute;
	opacity: 0;
	top: -1000px;
}

// 页面切换过渡动画 --- 进入（被激活）
.page-enter-active {
	top: 0;
	transition: all 0.3s ease-in-out;
}

// 页面切换过渡动画 --- 离开
.page-exit {
	top: 0;
	opacity: 1;
}

// 页面切换过渡动画 --- 离开（被激活）
.page-exit-active {
	top: 1000px;
	transition: all 0.3s ease-in-out;
}
