.modal-content {
  background-color: #fff;
  width: 300px;
  height: 260px;
  border-radius: 8px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  padding: 18px;
}

.describe {
  // margin-bottom: 0px;
  font-size: 12px;
  font-weight: 500;
  color: #333;
}

.input-group {
  display: flex;
  align-items: center;
  margin-top: 12px;
  margin-bottom: 16px;
  padding: 10px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  // background-color: #999;

  &::placeholder {
    color: #cecece;
  }

  label {
    font-size: 14px;
    color: #666;
    margin-right: 10px;
  }

  input {
    flex: 1;
    font-size: 14px;
    border: none;
    outline: none;
    background-color: transparent;

    &::placeholder {
      color: #999;
    }
  }

  button {
    font-size: 12px;
    color: #409EFF;
    margin-top: 2px;
    margin-bottom: 2px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;

    &:disabled {
      color: #ccc;
      cursor: not-allowed;
    }
  }
}

.btn-group {
  display: flex;
  justify-content: space-between;
  margin-top: 28px;
  margin-bottom: 5px;
  button {
    width: 126px;
    // flex: 1;
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .register{
    border: 1px solid rgba(30, 128, 255, .3);
    background: rgba(30, 128, 255, 0.05);
    color: #1e80ff;
  }
  .login {
    background-color: #3297fc;
  }
}

.codeLogin {
  border: none;
  outline: none;
  display: flex;
  justify-content: flex-end;
  font-size: 12px;
  padding-top: 12px;
  padding-right: 5px;
  color: #666;
  cursor: pointer;
}
