.clock-page {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;

  .left {
    flex: 1;
  }

  .vertical-divider {
    height: 100%;
    width: 1px;
    background-color: #ccc;
    margin: 0 10px;
  }
   .right {
    flex: 1;
   }
}