.nav-link-item {
  padding: 5px 10px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background 0.2s ease-in-out;
  cursor: pointer;
  text-align: center;
}
