@import '@lec/styles/src/scss/global.scss';

.nav-link-item {
	padding: 5px 10px;
	border-radius: 5px;
	transition: background 0.2s ease-in-out;
	cursor: pointer;
	text-align: center;
	font-size: $Body1;
	font-weight: $Bold;
}
